/*
 * Author: Jongil Yoon <jiysait@gmail.com>
*/
$topnav-height: 40px;
//$sidebar-width: 250px;
$sidebar-width: 20%;

/*
 * BASE Layout
*/
#__next {
  padding-top: $topnav-height !important;
  height: 100% !important;
}
.ebs-top-navbar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1) !important;
  z-index: 9999 !important;
}

/*
 * EBS Custom
*/
.ebs-login-form-wrapper,
.ebs-register-form-wrapper {
  max-width: 450px;
}
.ebs-left-side-content-frame {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: $topnav-height;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  background: #ffffff;
  color:blue;
  overflow-x: hidden;
  flex: 1;
  background-color: darkgray;
}
.ebs-main-content-with-left-side-frame {
  margin-left: $sidebar-width;
  min-width: 550px;
  // max-width:1150px
}
.ebs-left-side-content-wide-frame {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: $topnav-height;
  bottom: 0;
  left: 0;
  width: 20px;
  background: #1b1c1d;
  color: antiquewhite;
  overflow-x: hidden;
  flex: 1;
  transition: width 0.4s;
}
.ebs-main-content-with-left-side-wide-frame {
  margin-left: 20px;
  min-width: 550px;
  transition: margin-left 0.4s;
}
.ebs-left-side-as-button-frame {
  height: 100%;
}

.ebs-account-segment-spacing {
  padding-top: 2em !important;
  padding-bottom: 4em !important;
}
.ebs-sticky-node {
  width: 100%;
  padding: 0 !important;
  background-color: white;
}
.ebs-sticky-node div:nth-child(2) {
  background-color: white;
}
// .ebs-table-container-flipped,
// .ebs-table-container-flipped .ebs-table-flipped {
//   // max-width: 1024px !important;
//   overflow-x: scroll !important;
//   overflow-y: auto !important;
//   transform: rotateX(180deg);
// }
.ebs-header-anchor {
  overflow-y: scroll;
  // min-height: 700px;
  max-height: 750px;
}
.ebs-table-header {
  position: sticky;
  top: -15px;
  z-index: 1;
}
.ebs-table-draggable-wrapper {
  // overflow-x: hidden;
  overflow-x: auto;
  float: left;
}
.ebs-table-draggable-inner {
  float: left;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.ebs-table-draggable-inner-grabbing {
  float: left;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.ebs-scrollable-inner {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
.ebs-filters-submenu {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}
.ebs-filters-row {
  padding: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 5px !important;
}
.ebs-button-in-left-pane {
  padding-left: 0.98em !important;
  padding-right: 0.98em !important;
  font-size: small !important;
}

.ebs-overflow-table-wrapper {
  overflow-x: auto;
}

.ebs-virulome-absent {
  //background-color: #f3f2f2;
}
.ebs-virulome-lt {
  background-color: hsla(34, 100%, 52%, 0.952);
}
.ebs-resistome-absent {
  //background-color: #f3f2f2;
}
.ebs-resistome-lt {
  background-color: hsla(34, 100%, 52%, 0.952);
}
.ebs-resistome-ge {
  background-color: #25cc8c;
}
/*
 * Fix (Unsupported at the current version and Browser specific)
*/
.ebs-inverted {
  // Fixed in https://github.com/fomantic/Fomantic-UI 2.4.4
  label {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #1b1c1d;
  }
}
@-moz-document url-prefix() {
}

/*
 * ETC
*/
.ebs-loader {
  min-height: 200px;
}
.ebs-inline-wrapper {
  display: inline;
}
.ebs-paddingless {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ebs-borderless {
  border-radius: 0 !important;
  border: none !important;
 
}
.ebs-shadowless {
  box-shadow: none !important;
}
.ebs-custom-csv-export {
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}
